<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>全部商品</string>
	<key>200</key>
	<string>全部数码</string>
	<key>201</key>
	<string>手机</string>
	<key>202</key>
	<string>相机/摄像机</string>
	<key>203</key>
	<string>MP3/MP4</string>
	<key>204</key>
	<string>移动硬盘</string>
	<key>205</key>
	<string>U盘</string>
	<key>206</key>
	<string>游戏机</string>
	<key>300</key>
	<string>全部电脑</string>
	<key>301</key>
	<string>台式机</string>
	<key>302</key>
	<string>平板电脑</string>
	<key>303</key>
	<string>显示器</string>
	<key>304</key>
	<string>台式机配件</string>
	<key>305</key>
	<string>笔记本电脑</string>
	<key>306</key>
	<string>笔记本配件</string>
	<key>400</key>
	<string>全部衣服</string>
	<key>401</key>
	<string>女装</string>
	<key>402</key>
	<string>女鞋</string>
	<key>403</key>
	<string>男装</string>
	<key>404</key>
	<string>男鞋</string>
	<key>500</key>
	<string>全部自行车</string>
	<key>501</key>
	<string>普通自行车</string>
	<key>502</key>
	<string>山地自行车</string>
	<key>503</key>
	<string>公路自行车</string>
	<key>504</key>
	<string>小轮车</string>
	<key>505</key>
	<string>死飞车</string>
	<key>506</key>
	<string>折叠自行车</string>
	<key>600</key>
	<string>全部运动</string>
	<key>601</key>
	<string>大球类</string>
	<key>602</key>
	<string>羽毛球/乒乓球</string>
	<key>603</key>
	<string>健身器材</string>
	<key>700</key>
	<string>全部其他</string>
</dict>
</plist>
